/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.form-group select,
.form-group select:hover,
.form-group select:focus {
  border-radius: 10px;
  padding: 5px;
  background-color: #00587a;
  color: #399599;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}

.form-group select option {
  -moz-text-align-last: center;
  text-align-last: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align-last: center;
}
